*{
margin:0px ;
padding: 0px;
}

body{
    font-family: monospace;
    background-color: rgb(20, 20, 20);
    color: rgb(27, 27, 27);
}

.grupoComandos {
    display: flex;
    justify-content: space-between;
    gap: 10px;


}

.cartaoComando{
    width: calc(25% - 15px);
    border: 1px solid rgb(235, 232, 232);
    border-radius: 25px;
    padding: 10px 5px;
    transition: 150ms;
    background-color: rgb(226, 198, 225);
    

}
.cartaoComando:hover {
    scale: 102.5%;
    background-color: cadetblue;
    transform: translateY(50%);
    

}

